<br/>
<div class="jumbotron">
  <h1>Jimipedia</h1>
  <p>Jimipedia is a great new wiki!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up for Free Account", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

