<h4>Wikis</h4><br>
<div>
  <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success' %>
</div><br>
<div class="container">
  <table class="table-bordered">
    <tr>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
      <%= render @wikis %>
  </table>
  <hr>
</div>

